<style>
.small-navbar {
    display: flex;
    flex-direction: row;
}

.socials {
    margin-left: auto;
}
</style>
<div class="navbar">
    <h2 class="jetbrains-mono-bold"><a href="/">nathan_jacobson_</a></h2>
    <div class="small-navbar">
        <p class="jetbrains-mono">[<a href="/about">about</a>,<a href="/projects">projects</a>,<a href="/photos">photos</a>,<a href="/blog">blog<a>,<a href="/contact">contact</a>]</p>
        <p class="jetbrains-mono socials">
            [<a href="https://github.com/grqphical">github</a>,<a href="https://www.linkedin.com/in/nathan-jacobson-9ba688392/">linkedin</a>]
        </p>
    </div>
</div>
