<style>
.small-navbar {
    display: flex;
    flex-direction: row;
}

.socials {
    margin-left: auto;
}

@media screen and (max-width: 1200px) {
    .small-navbar {
        flex-direction: column;
    }

    .socials {
        margin-left: 0;
    }
}

</style>
<div class="navbar">
    <h2 class="jetbrains-mono-bold"><a href="/">nathan_jacobson<span class="orange">_</span></a></h2>
    <div class="small-navbar">
        <p class="jetbrains-mono">[<a href="/about" class="orange">about</a>,<a href="/posts" class="orange">blog<a>,<a href="/photos" class="orange">photos</a>,<a href="/contact" class="orange">contact</a>]</p>
        <p class="jetbrains-mono socials">
            [<a href="https://github.com/grqphical" class="orange">github</a>,<a href="https://www.linkedin.com/in/nathan-jacobson-9ba688392/" class="orange">linkedin</a>]
        </p>
    </div>
</div>
