<div class="experience-entry">
    <b class="jetbrains-mono-bold">{{ $.Get "title" }} <span class="jetbrains-mono-bold orange">@</span> <a class="jetbrains-mono-bold orange" href="{{ $.Get "company-url"}}">{{ ($.Get "company") }}</a> </b>
    <div class="experience-info jetbrains-mono-italic">
        <p class="education-location">{{ ($.Get "location") }},</p>
        <p class="education-duration">({{ ($.Get "duration") }})</p>
    </div>
    
    <div class="experience-description">
        {{.Inner | .Page.RenderString}}
    </div>
    
</div>