<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/sakura.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/jetbrains-mono.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/favicon.webp" type="image/x-icon">


    {{ $og_img := resources.Get "img/headshot.jpg" }}
    {{ $og_img = $og_img.Resize "512x512 webp q85" }}

    <meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}" />
    <meta property="og:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ $og_img.Permalink }}" />
    <meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />

    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta name="twitter:image" content="{{ $og_img.Permalink }}" />

    {{ block "head" . }}
    {{ end }}

    <style>
    </style>
</head>
<body>
    <header>
        {{ partial "header.html" . }}
    </header>
    
    <main>
        {{ block "main" . }}
        {{ end }}
    </main>

    <footer>
        {{ partial "footer.html" }}
    </footer>
</body>
</html>
